body{
    display: flex;
    background-color: black;
    justify-content: center;
}
#header{
    display: flex;
    height: 300px;
    color: orange;
    justify-content: center;
}
#choices{
    display: flex;
    height: 210px;
    justify-content: center;
    flex-direction: row;
}
.button{
    background-color: black;
    border: 3px solid orange;
    height:200x;
    width:200px;
    margin: 10px;
    justify-content: space-evenly;
    border-radius: 25%;
}